/* Bron CSS selectors: https://www.w3schools.com/cssref/css_selectors.asp
Bron complete guide to grid: https://css-tricks.com/snippets/css/complete-guide-grid/ 
Bron complete guide to flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */



/*----------   Device: kleiner dan 900px       ----- */


body {
    background: linear-gradient(to top, #000000, #1D1C1C, #3D3D3D, #605F5F);
}


/* Header ----- */
header > img {
    width: 100%;
    border-bottom: 1rem #F7D3EF solid;
    height: auto;
    filter: grayscale(100%);
    transition: 2s;

}

header > img:hover {
    transform: scale(1.05);
}

/* Bron overlappen tekst: https://www.w3schools.com/howto/howto_css_image_text.asp */
header > p {
    width: 100%;
    height: auto;
    top: 2.5em;
    left: 0.5em;
    color: #F7D3EF;
    text-transform: uppercase;
    font-family: 'Martel', serif;
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    text-shadow: 4px 1px #FC00D4;
    transition: 2s;

}

header > p:hover {
    color: #FC00D4;
    letter-spacing: 0.2em;
}


/* Hamburger menu -- */
/* bron voor hamburger menu: https://codepen.io/Guilano/pen/jOOgZKE */
div {
    width: 10rem;
    height: 6rem;
    position: relative;
    display: flex;
    align-items: center;
    margin: 4rem;
}

span {
    height: 0.8rem;
    width: 7rem;
    display: block;
    background: #F7D3EF;
    /* ronde hoeken middelste streepje */
    border-radius: 0.3rem;
}

/* dit is het eerste streepje van het menu, deze maak je aan door ::before  (zet iets 'before' de span)
dit is het eerste streepje van het menu, deze maak je aan door ::after (zet iets 'after' de span)*/
span::before,
span::after {
    /* zonder komen de streepjes niet, waarom?*/
    content: '';
    /* waarom .4rem bijv? */
    height: 0.8rem;
    width: 7rem;
    /* absolute: element kan overal op de pagina geplaatst worden */
    position: absolute;
    background: #F7D3EF;
    /* ronde hoeken streepjes */
    border-radius: 0.3rem;
    /* waarom . ? */
    transition: 0.3s;
}

span::before {
    top: 0rem;
}

span::after {
    bottom: 0em;
}

.menu.active span {
    /* rgba(0, 0, 0, 0), zo maak je het middelste streepje doorzichtig */
    background: rgba(0, 0, 0, 0);
    transition: .5s;
}

.menu.active span::before {
    /* 135 graden (degrees) draaien, streepje 1 */
    transform: rotate(135deg);
    top: 20px;
}

.menu.active span::after {
    /* 135 graden (degrees) draaien, streepje 1 */
    transform: rotate(225deg);
    top: 20px;
}

nav {
    transform: translateX(-100%);
    background: linear-gradient(to right, #F8AFEF, #FB94EE, #F85FE5);
    margin-top: 1rem;
    border-left: 1rem white solid;
    width: 40%;
    transition: 0.1s;
}

nav.active {
    transform: translateX(0);
}

/*-- Einde Hamburger menu -- */

nav > ul {
    list-style-type: none;
    line-height: 6em;
}

a {
    display: block;
    text-decoration: none;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Martel', serif;
    color: black;
    font-size: 2rem;
    border-bottom: 0.1em solid white;


}

a:hover {
    color: #FC00D4;
    text-decoration: underline;
}

a:active {
    color: #FC00D4;
    text-decoration: underline;
}




/* Main ------*/
/* bron: https://codepen.io/shshaw/pen/wWQZEB */
/* SIBLING FADE: fade out siblings around a hovered item */

/* Hidden neemt nog steeds de ruimte in op de pagina*/
.hover {
    visibility: hidden;
}

/* Visible maakt de foto's zichtbaar op de pagina */
.hover {
    visibility: visible;
}

/*Selecteert alle elementen met de class .kleding  waarvan de parent is een element van de class .hover */
.hover > .kleding {
    transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms;
}

/* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */
.hover:hover > .kleding {
    opacity: 0.4;
    transform: scale(0.9);
}

/* 'Fade out' alle foto's wanneer er over 1 foto wordt 'gehoverd' */
.hover > .kleding:hover {
    opacity: 1;
    transform: scale(1.1);
    transition-delay: 0ms, 0ms;
}





/* Afbeeldingen grid ------*/

.hover {
    display: grid;
    grid-template-columns: auto;
}

main > img {
    display: flex;
    flex-direction: row;
    border: 20px solid white;
    box-shadow: 10px 10px 5px #F7D3EF;
    padding: 5px;
    width: 600px;
    margin: 20px auto 20px auto;
}

.kleding:last-child {
    margin: 20px auto 80px auto;
}



/* Footer --------------------------------------- */

footer > ul:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 0em 3em 0em;
    text-align: center;
    background-color: white;
    text-decoration: none;
    font-family: 'Martel', serif;
    font-size: 1.5em;


}

footer > ul:nth-child(2) {
    display: flex;
    flex-direction: column;
    padding: 0.5em 0em 0.5em 0em;
    text-align: center;
    background-color: #F7D3EF;
    text-decoration: none;
    font-family: 'Martel', serif;
    font-size: 1.2em;

}

li {
    list-style-type: none;

}



/* Formulier ------------------------------------ */


/* Opmaak formulieren bron: https://codepen.io/rouws/pen/PdvoLJ?editors=1100*/

form {
    width: 40em;
    margin: auto;
    padding: 1rem;
    line-height: 2.5rem;
    background-color: #F7D3EF;
    font-family: 'Martel', serif;
    font-size: 1.5em;
}

fieldset {
    border: none;
}

legend {
    font-weight: bolder;
    font-size: 2.5rem;
    margin: auto;
}


input {
    font-size: 1.5rem;
    border: none;
    font-family: 'Martel', serif;
    margin-bottom: 1em;
}

/* Wanneer je in het input vak staat */
input:focus,
input[type="radio"]:focus {
    outline: 2px solid #FC00D4;
    outline-offset: 5px;
}


input[type="text"] {
    width: 100%;
    height: 3rem;
    padding: 0 0 0 1em;
}

button[type="submit"] {
    width: 100%;
    height: 4rem;
    border: none;
    margin: 1rem 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    position: relative;
    background-color: #FF67E7;
    color: white;
}

button[type="submit"]:hover {
    background-color: #FC00D4;
}

button[type="submit"]:focus {
    outline: 2px solid #FC00D4;
    outline-offset: 5px;
}








/* Device: tablet --------------------------------------- */
@media (min-width: 900px) {




    /* Afbeeldingen grid ------*/

    .hover {
        display: grid;
        grid-template-columns: auto auto;
    }

    .kleding {
        border: 10px solid white;
        box-shadow: 5px 5px 2px #F7D3EF;
        padding: 5px;
        width: 400px;
        margin: 20px auto 20px auto;
    }


    /* Footer --------------------------------------- */

    footer > ul:first-child {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 1em 0em 3em 0em;
        text-align: center;
        background-color: white;
        text-decoration: none;
        font-family: 'Martel', serif;
        font-size: 1.5em;


    }

    footer > ul:nth-child(2) {
        display: flex;
        flex-direction: column;
        padding: 0.5em 0em 0.5em 0em;
        text-align: center;
        background-color: #F7D3EF;
        text-decoration: none;
        font-family: 'Martel', serif;
        font-size: 1.2em;

    }

    li {
        list-style-type: none;

    }



}


/* Device: laptop --------------------------------------- */
@media (min-width: 1100px) {

    .hover {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .kleding {
        border: 10px solid white;
        box-shadow: 5px 5px 2px #F7D3EF;
        padding: 5px;
        width: 320px;
        margin: 20px auto 20px auto;
    }


    /* Footer --------------------------------------- */
    footer > ul:first-child {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 1em 0em 3em 0em;
        text-align: center;
        background-color: white;
        text-decoration: none;
        font-family: 'Martel', serif;
        font-size: 1.5em;


    }

    footer > ul:nth-child(2) {
        display: flex;
        flex-direction: column;
        padding: 0.5em 0em 0.5em 0em;
        text-align: center;
        background-color: #F7D3EF;
        text-decoration: none;
        font-family: 'Martel', serif;
        font-size: 1.2em;

    }

    li {
        list-style-type: none;

    }



}





/* Device: laptop --------------------------------------- */
@media (min-width: 1390px) {

    header > p {

        width: 100%;
        height: auto;
        top: 4em;
        left: 0.5em;
        color: #F7D3EF;
        text-transform: uppercase;
        font-family: 'Martel', serif;
        font-weight: bold;
        font-size: 8em;
        text-align: center;
    }


    /* Main grid -------------------------------------------------- */

    .hover {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    .kleding {
        border: 10px solid white;
        box-shadow: 5px 5px 2px #F7D3EF;
        padding: 5px;
        width: 300px;
        margin: 20px auto 20px auto;
    }



    /* Footer --------------------------------------------------- */

    footer > ul:first-child {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 1em 0em 3em 0em;
        text-align: center;
        background-color: white;
        text-decoration: none;
        font-family: 'Martel', serif;
        font-size: 1.5em;


    }

    footer > ul:nth-child(2) {
        display: flex;
        flex-direction: column;
        padding: 0.5em 0em 0.5em 0em;
        text-align: center;
        background-color: #F7D3EF;
        text-decoration: none;
        font-family: 'Martel', serif;
        font-size: 1.2em;

    }

    li {
        list-style-type: none;

    }

}
