 /* Header --------------------------------------- */


 header > img {
     width: 100%;
     border-bottom: 0.5rem white solid;
     height: 30em;
     filter: grayscale(90%);
 }

 p {
     position: absolute;
     top: 12%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: #F7D3EF;
     text-transform: uppercase;
     font-family: 'Martel', serif;
     font-size: 3em;
     text-align: center
 }


 /* bron voor hamburger menu: https://codepen.io/Guilano/pen/jOOgZKE */
 div {
     width: 10rem;
     height: 6rem;
     position: relative;
     display: flex;
     align-items: center;
     margin: 4rem 4rem 4rem 4rem;
 }

 span {
     height: 0.8rem;
     width: 7rem;
     display: block;
     background: #F7D3EF;
     /* ronde hoeken middelste streepje */
     border-radius: 0.3rem;
 }

 /* dit is het eerste streepje van het menu, deze maak je aan door ::before  (zet iets 'before' de span)
dit is het eerste streepje van het menu, deze maak je aan door ::after (zet iets 'after' de span)*/
 span::before,
 span::after {
     /* zonder komen de streepjes niet, waarom?*/
     content: '';
     /* waarom .4rem bijv? */
     height: 0.8rem;
     width: 7rem;
     /* absolute: element kan overal op de pagina geplaatst worden */
     position: absolute;
     background: #F7D3EF;
     /* ronde hoeken streepjes */
     border-radius: 0.3rem;
     /* waarom . ? */
     transition: 0.3s;
 }


 span::before {
     top: 0rem;
 }

 span::after {
     bottom: 0em;
 }

 .menu.active span {
     /* rgba(0, 0, 0, 0), zo maak je het middelste streepje doorzichtig */
     background: rgba(0, 0, 0, 0);
     transition: .5s;
 }

 .menu.active span::before {
     /* 135 graden (degrees) draaien, streepje 1 */
     transform: rotate(135deg);
     top: 20px;
 }

 .menu.active span::after {
     /* 135 graden (degrees) draaien, streepje 1 */
     transform: rotate(225deg);
     top: 20px;
 }

 nav {
     transform: translateX(-100%);
     background: #F7D3EF;
     margin-top: 1rem;
     border-left: 1rem white solid;
     width: 40%;
     transition: 0.1s;
 }

 nav.active {
     transform: translateX(0);
 }

 nav > ul {
     list-style-type: none;
     line-height: 6em;
 }

 a {
     display: block;
     text-decoration: none;
     text-align: left;
     text-transform: uppercase;
     font-family: 'Martel', serif;
     color: black;
     font-size: 2rem;
     border-bottom: 0.1em solid white;

 }

 a:active {
     color: #535353;
     text-decoration: underline;
 }


 /* Main --------------------------------------- */
 /* bron: https://codepen.io/shshaw/pen/wWQZEB */
 /* SIBLING FADE: fade out siblings around a hovered item */

 /* Main items fade --------------------------------------- */

 /* Hidden neemt nog steeds de ruimte in op de pagina*/
 .hover {
     visibility: hidden;
 }

 /* Visible maakt de foto's zichtbaar op de pagina */
 .hover {
     visibility: visible;
 }

 /*Selecteert alle elementen met de class .kleding  waarvan de parent is een element van de class .hover */
 .hover > .kleding {
     transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms;
 }

 /* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */
 .hover:hover > .kleding {
     opacity: 0.4;
     transform: scale(0.9);
 }

 /* 'Fade out' alle foto's wanneer er over 1 foto wordt 'gehoverd' */
 .hover > .kleding:hover {
     opacity: 1;
     transform: scale(1);
     transition-delay: 0ms, 0ms;
 }

 body {
     background-color: black;
 }


 main > img {
     display: grid;
     grid-template-columns: 1fr;
     border: 20px solid white;
     box-shadow: 10px 10px 5px #F7D3EF;
     padding: 5px;
     width: 600px;
     margin: 20px auto 20px auto;
 }

 .kleding:last-child {
     margin: 20px auto 80px auto;
 }


 /* Footer --------------------------------------- */




 /* Formulier ------------------------------------ */





 /* Device: tablet --------------------------------------- */
 @media (min-width: 900px) {

     .hover {
         display: grid;
         grid-template-columns: 1fr 1fr;
     }

     .kleding {
         border: 10px solid white;
         box-shadow: 5px 5px 2px #F7D3EF;
         padding: 5px;
         width: 400px;
         margin: 20px auto 20px auto;
     }


     /* Footer --------------------------------------- */







     /* Device: laptop --------------------------------------- */
     @media (min-width: 1100px) {

         .hover {
             display: grid;
             grid-template-columns: 1fr 1fr 1fr;
         }

         .kleding {
             border: 10px solid white;
             box-shadow: 5px 5px 2px #F7D3EF;
             padding: 5px;
             width: 320px;
             margin: 20px auto 20px auto;
         }


         /* Footer --------------------------------------- */




     }





     /* Device: laptop --------------------------------------- */
     @media (min-width: 1390px) {


         .headerAfbeelding {
             width: 0%;
             height: 0em;
         }

         /* bron voor hamburger menu: https://codepen.io/Guilano/pen/jOOgZKE */
         div {
             width: 10rem;
             height: 6rem;
             position: relative;
             display: flex;
             align-items: center;
             margin: 4rem 4rem 4rem 4rem;
         }

         span {
             height: 0.4rem;
             width: 5rem;
             display: block;
             background: #F7D3EF;
             /* ronde hoeken middelste streepje */
             border-radius: 0.3rem;
         }

         /* dit is het eerste streepje van het menu, deze maak je aan door ::before  (zet iets 'before' de span)
dit is het eerste streepje van het menu, deze maak je aan door ::after (zet iets 'after' de span)*/
         span::before,
         span::after {
             /* zonder komen de streepjes niet, waarom?*/
             content: '';
             /* waarom .4rem bijv? */
             height: 0.4rem;
             width: 5rem;
             /* absolute: element kan overal op de pagina geplaatst worden */
             position: absolute;
             background: #F7D3EF;
             /* ronde hoeken streepjes */
             border-radius: 0.3rem;
             /* waarom . ? */
             transition: 0.3s;
         }


         span::before {
             top: 0rem;
         }

         span::after {
             bottom: 0em;
         }

         .menu.active span {
             /* rgba(0, 0, 0, 0), zo maak je het middelste streepje doorzichtig */
             background: rgba(0, 0, 0, 0);
             transition: .5s;
         }

         .menu.active span::before {
             /* 135 graden (degrees) draaien, streepje 1 */
             transform: rotate(135deg);
             top: 20px;
         }

         .menu.active span::after {
             /* 135 graden (degrees) draaien, streepje 1 */
             transform: rotate(225deg);
             top: 20px;
         }

         nav {
             transform: translateX(-100%);
             background: #F7D3EF;
             margin-top: 1rem;
             border-left: 1rem white solid;
             width: 40%;
             transition: 0.1s;
         }

         nav.active {
             transform: translateX(0);
         }

         ul:first-child {
             list-style-type: none;
             line-height: 6em;
         }

         a {
             display: block;
             text-decoration: none;
             text-align: left;
             text-transform: uppercase;
             font-family: 'Martel', serif;
             color: black;
             font-size: 0.8rem;
             border-bottom: 0.1em solid white;
             height: 70px;

         }

         a:hover {
             color: #535353;
             text-decoration: underline;
         }




         /* Main grid -------------------------------------------------- */

         .hover {
             display: grid;
             grid-template-columns: auto auto auto auto;
         }

         .kleding {
             border: 10px solid white;
             box-shadow: 5px 5px 2px #F7D3EF;
             padding: 5px;
             width: 300px;
             margin: 20px auto 20px auto;
         }



         /* Footer --------------------------------------------------- */



     }
